<button class="btn{{#type}} btn-{{type}}{{/type}}{{#size}} btn-{{size}}{{/size}}">{{#icon-before}}<i class="icon-{{icon-before}}"></i>{{/icon-before}}{{text}}{{#icon-before}}<i class="icon-{{icon-before}}"></i>{{/icon-before}}</button>