<a class="btn{{#type}} btn-{{type}}{{/type}}{{#size}} btn-{{size}}{{/size}}" href="{{#href}}{{href}}{{/href}}{{^href}}#{{/href}}">{{#icon-before}}<i class="icon-{{icon-before}}"></i>{{/icon-before}}{{text}}{{#icon-before}}<i class="icon-{{icon-before}}"></i>{{/icon-before}}</a>