<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}} :: Design Patterns</title>
  <meta name="description" content="University of York Design Patterns">
  <meta name="author" content="University of York">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="">

  {{#build}}
  <link rel="stylesheet" href="css/styles.min.css">
  {{/build}}
  {{^build}}
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/prism.css">
  {{/build}}

</head>

<body id="{{id}}">